<p id="notice"><%= notice %></p>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1>Listing Invests</h1>

<div>
<%= line_chart Invest.where("user_id = ? and date(created_at) >= ?",@current_user,Date.today-1.week).pluck("date(created_at) as created_at, amount"), min: nil %>
<div>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Bank</th>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invests.each do |invest| %>
      <tr>
        <td><% unless invest.user.nil? %><%= invest.user.name %><% else %>unknown<% end %></td>
        <td><%= invest.bank %></td>
        <td><%= invest.name %></td>
        <td><%= invest.amount %></td>
        <td><%= link_to 'Show', invest %></td>
        <td><%= link_to 'Edit', edit_invest_path(invest) %></td>
        <td><%= link_to 'Destroy', invest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invest', new_invest_path %>
