<p id="notice"><%= notice %></p>


<p>
  <strong>User:</strong>
  <% unless @invest.user.nil? %>
    <%= @invest.user.name %>
  <% else %>
    unknown user
  <% end %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @invest.bank %>
</p>

<p>
  <strong>Name:</strong>
  <%= @invest.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @invest.amount %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @invest.created_at %>
</p>

<%= link_to 'Edit', edit_invest_path(@invest) %> |
<%= link_to 'Back', invests_path %>
